<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../static/css/db_login.css">
</head>
<body>
	<div class="wrapper">
  	   <div id="header">
      	  <a href="" class="logo">登录豆瓣</a>
  	   </div>

       <div id="content">
  		 <h1>登录豆瓣</h1>
  		 <div class="article">
  		 	<form>
  		 		<div class="item-right">
  		 			<a href="javascript:void(0)">手机验证码登陆</a>
  		 		</div>
  		 		<div class="item">
  		 			<label>帐号</label>
  		 			<input type="text" name="form_email" class="basic-input"  placeholder="邮箱/手机号/用户名">
  		 		</div>
  		 		<div class="item">
  		 			<label>密码</label>
  		 			<input type="password" name="form_password" class="basic-input"  >
  		 		</div>
  		 		<div class="item">
  		 			<label>&nbsp;</label>
  		 			<p class="remember">
      				<input type="checkbox" id="remember" name="remember" tabindex="4">
      				<label for="remember" class="remember">下次自动登录</label>
      				|<a href="javascript:void(0)">忘记密码了</a>
    				</p>
  		 		</div>
  		 		<div class="item">
  		 			<label>&nbsp;</label>
  		 			<input type="submit" name="login" value="登录" l class="btn-submit">
  		 		</div>
  		 		<div class="item item_third">
  		 			<label>第三方登录：</label>
  		 			<a href=""><img src="../static/db_img/wechat.png"></a>
  		 			<a href=""><img src="../static/db_img/weibo.png"></a>
  		 			<a href=""><img src="../static/db_img/qq.png"></a>
  		 		</div>
  		 	</form>
  			</div>
  			<ul id="sidenav" class="aside">
  				<li>&gt;&nbsp;还没有豆瓣帐号？<a href="javascript:void(0)">立即注册</a></li>
  				<li>&gt;&nbsp;<a href="javascript:void(0)">点击下载豆瓣移动应用</a></li></ul>
  		</div>
  		<div id="footer">
  			<span id="icp" class=""> © 2005－2018 douban.com, all rights reserved</span>
  			<span class="fr">
  				<a href="javascript:void(0)">关于豆瓣</a>
  				·
  				<a href="javascript:void(0)">在豆瓣工作</a>
  				·
  				<a href="javascript:void(0)">联系我们</a>
  				·
  				<a href="javascript:void(0)">免责声明</a>
  				·
  				<a href="javascript:void(0)">帮助中心</a>
  				·
  				<a href="javascript:void(0)">开发者</a>
  				·
  				<a href="javascript:void(0)">移动应用</a>
  				·
  				<a href="javascript:void(0)">豆瓣广告</a>
  			</span>
  		</div>
  	</div>
</body>
</html>